<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box">
    
      <% newListItems.forEach((el)=>{ %>
        <form action="/delete" method="POST">
        <div class="item">
          
            <input name="checkbox" value=<%= el._id %>  type="checkbox" onchange="this.form.submit()" >
          <p><%=  el.name  %></p>
          <input type="hidden" name="listName" value=<%= listTitle %> ></input>
        </div>
      </form>
    <%  }) %>  

      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value=<%= listTitle  %> >+</button>
      </form>
  </div>

<%- include("footer") -%>
